extends layout

block content
  <div class="container">
    <div class="row pt-5"></div>
    <div class="row pt-5">
      <div class="col-xs-12"></div>
    </div>
    <div class="col-md-1"></div>
    <div id="scrape_response" class="row jumbotron bg-info">
      <div class="col">
        h1.text-secondary= title
        <div class="row pt-4"></div>
          .list-group
            for item in results
              .list-group-item.list-group-item-action.flex-column.align-items-start
                .d-flex.w-100.justify-content-between
                  h5.text-info.mb-1= item.author
                  small= item.display_date
                p.text-muted.mb-1= item.body
                small.text-muted= item.id
        </div>
    </div>
    //- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    //-         <div class="d-flex w-100 justify-content-between">
    //-           <h5 class="mb-1">List group item heading</h5>
    //-           <small class="text-muted">3 days ago</small>
    //-         </div>
    //-         <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    //-         <small class="text-muted">Donec id elit non mi porta.</small>
    //-       </a>

    //- <div class="col">
    //-     <div class="col">
    //-       h1.text-info= title
    //-       <div class="row pt-4"></div>
    //-         .list-group
    //-           for item in results
    //-             .list-group-item.list-group-item-action= (item.author) + "link&nbspid:&nbsp&nbsp" + (item.id)
    //-             //- li= Object.keys(item)